<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'pul-assets/header' %>

<div class="flash_messages"></div>
<%= yield %>

<%= render 'pul-assets/footer' %>
<%= javascript_include_tag :modernizr %>
</body>
</html>
